<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P3RSON</title>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/principal.css" />
  </head>
  <body>
    <header></header>
    <div class="container">
      <div class="profile">
        <div class="profile-photo">
          <img src="../static/images/kaila.jpg" alt="Foto de perfil" />
        </div>
        <div class="profile-name">
          <p>Gabriela Moura Silva</p>
          <img src="../static/images/edit.png" alt="" />
        </div>
      </div>

      <div class="sections-container">
        <div class="section quarter">
          <div class="profile-data">
            <div class="topic">
              <img src="../static/images/core.png" alt="" />
              <p class="limelight">Sobre mim:</p>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>

        <div class="section half">
          <div class="profile-experience">
            <div class="topic">
              <img src="../static/images/home.png" alt="" />
              <p>EXPERIÊNCIA</p>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>

          <div class="profile-contact">
            <div class="topic">
              <img src="../static/images/contact.png" alt="" />
              <p>CONTATO</p>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>

        <div class="section quarter">
          <div class="profile-info">
            <div class="topic">
              <img src="../static/images/secret.png" alt="" />
              <p class="limelight">Dados pessoais</p>
            </div>
            <ul>
              <li>Idade: 22 anos</li>
              <li>Mora em: Itapajé - CE</li>
              <li>Formação: Graduanda em Análise e Desenvolvimento de Sistemas</li>
              <li>Modalidade: Home office</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
