<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P3RSON</title>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/principal.css" />
  </head>
  <body>
    <header></header>
    <div class="container">
      <div class="profile">
        <div class="profile-photo">
          <img src="{{ url_for('static', filename='images/' + foto) }}" alt="Foto de perfil" />
        </div>
        <div class="profile-name">
          <p>{{ nome }}</p>
          <a href="{{ url_for('editar') }}">
            <img src="../static/images/edit.png" alt="Editar perfil" />
          </a>
        </div>
      </div>

      <div class="sections-container">
        <div class="section quarter">
          <div class="profile-data">
            <div class="topic">
              <img src="../static/images/core.png" alt="" />
              <p class="limelight">Sobre mim:</p>
            </div>
            <p>{{ sobremim }}</p>
          </div>
        </div>

        <div class="section half">
          <div class="profile-experience">
            <div class="topic">
              <img src="../static/images/home.png" alt="" />
              <p>EXPERIÊNCIA</p>
            </div>
            <p>{{ experiencia }}</p>
          </div>

          <div class="profile-contact">
            <div class="topic">
              <img src="../static/images/contact.png" alt="" />
              <p>CONTATO</p>
            </div>
            <p>{{ contato }}</p>
          </div>
        </div>

        <div class="section quarter">
          <div class="profile-info">
            <div class="topic">
              <img src="../static/images/secret.png" alt="" />
              <p class="limelight">Dados pessoais</p>
            </div>
            <ul>
              <li>Idade: {{ idade }} anos</li>
              <li>Mora em: {{ endereco }}</li>
              <li>Formação: {{ formacao }}</li>
              <li>Modalidade: {{ modalidade }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
